@use '../../variables';

.search-view {
    margin-top: 5rem;

    h2 {
        margin: 0;
        font-size: 1.8rem;
    }

    .movies-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
    }
}