@use '../../variables';

.card-list {    
    margin: 5rem 0 2rem;

    .card-list-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 0 2rem;

        h2 {
            margin: 0;
            font-size: 1.8rem;
        }

        a {
            font-size: 1rem;
            color: variables.$color-red;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            transition: variables.$transition;
        }

        a:hover {
            gap: 0.1rem;
            text-decoration: underline;
        }
    }

    .movie-swiper {

        // In case button needed
        .swiper-button-next, .swiper-button-prev {
            color: variables.$color-red;
        }

        .movie-image-slide {
            .movie-image-card {
                position: relative;
                height: 30rem;
                border-radius: 15px;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: variables.$transition;
                }
    
                .movie-card-details {
                    position: absolute;
                    bottom: 0;
                    left: 5%;
                    transform: translateY(100%);
                    color: white;
                    font-size: 1.5rem;
                    transition: variables.$transition;

                    .card-movie-rating {
                        display: flex;
                        align-items: center;
                        gap: 0.2rem;

                        .star-icon {
                            color: gold;
                        }

                        p {
                            margin: 0;
                        }
                    }
                }
            }
    
            .movie-image-card:hover {
                cursor: pointer;
                img {   
                    filter: brightness(0.2);
                }
    
                .movie-card-details {
                    bottom: 30%;
                }
            }
        }
    }
}

