@use '../../variables';

.card-list {    
    margin: 5rem 0 2rem;
    padding: 3rem 0;
    background-color: rgba($color: variables.$color-white, $alpha: 0.1);
    border-radius: 15px;

    .card-list-header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0 0 2rem;

        h2 {
            margin: 0;
            font-size: 1.8rem;
        }

        a {
            font-size: 1rem;
            color: variables.$color-red;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            transition: variables.$transition;
        }

        a:hover {
            gap: 0.1rem;
            text-decoration: underline;
        }
    }

    .movie-swiper {
        height: 70vh;

        // In case button needed
        .swiper-button-next, .swiper-button-prev {
            color: variables.$color-red;
        }

        .movie-image-slide {
            height: 100%;
        }
    }
}

