@use '../../variables';

.movie-image-card {
    position: relative;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 10rem 5rem rgba($color: #000000, $alpha: 0.1);
    transition: variables.$transition;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: variables.$transition;
    }
    
    .loaded {
        animation: fadeIn 1s ease forwards;
        border-radius: 15px;
    }

    .loading {
        display: none;
    }

    .loading-spinner {
        object-fit: contain;
        scale: 0.5;
        margin: 0 auto;
    }

    .error-image {
        object-fit: contain;
        background-color: gray;
    }

    .movie-card-details {
        position: absolute;
        bottom: 0;
        left: 5%;
        transform: translateY(100%);
        color: white;
        font-size: 1.5rem;
        transition: variables.$transition;

        .card-movie-rating {
            display: flex;
            align-items: center;
            gap: 0.2rem;

            .star-icon {
                color: gold;
            }

            p {
                margin: 0;
            }
        }
    }
}

.movie-image-card:hover {
    cursor: pointer;
    background-color: rgba($color: #000000, $alpha: 0.5);

    img {   
        filter: brightness(0.2);
    }

    .movie-card-details {
        transform: translateY(0);
        bottom: 10%;
    }
}
