@use '../../variables';

.navbar {
    // background-color: red;
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 0.5rem 0;
    z-index: 5;

    .container-navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .app-logo {
            transition: variables.$transition;
        }

        .app-logo:hover {
            cursor: pointer;
            filter: brightness(0.8);
        }

        .auth-btn-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 50%;
            gap: 0.5rem;
            justify-self: end;
        }

        .user-greet {
            color: white;
            margin: 0;
            justify-self: flex-end;
        }

        .searchbar {
            position: relative;
            border: 1px solid variables.$color-red;
            border-radius: 50px;
            width: 75%;
            justify-self: center;
            overflow: hidden;
    
            input {
                color: white;
                background-color: rgba($color: #000000, $alpha: 0.4);
                border: none;
                padding: 0 1rem;
                width: 100%;
                height: 100%;
                transition: variables.$transition;
            }
    
            .search-icon {
                position: absolute;
                right: 5%;
                color: white;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                font-size: 1.3rem;
            }
    
            input:focus {
                outline: none;
                background-color: rgba($color: #000000, $alpha: 0.8);
            }
        }
    }

    .custom-modal-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
    