@use '../../variables';

.header-item {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
    
    .secondary-backdrop {
        width: 100%;
        height: 100%;
        background-color: black;
    }
    
    .loaded {
        animation: fadeIn 1s ease forwards;
    }
    
    .loading {
        display: none;
    }
    
    
    img {
        filter: brightness(50%);
        object-fit: cover;
        height: 100vh;
        width: 100%;
    }

    .container-carousel-details {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .carousel-item-details {
            color: white;
            width: 50%;
            h1 {
                color: white;
                font-size: 5rem;
                margin: 0 0 1rem 0;
                line-height: normal;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}