@use '../../variables';

.header-item {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
    
    .secondary-backdrop {
        width: 100%;
        height: 100%;
        background-color: black;
    }
    
    .loaded {
        animation: fadeIn 1s ease forwards;
    }
    
    .loading {
        display: none;
    }
    
    
    img {
        filter: brightness(50%);
        object-fit: cover;
        height: 100vh;
        width: 100%;
    }

    .container-carousel-details {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .carousel-item-details {
            color: variables.$color-white;
            width: 50%;
            
            // margin: 0 auto;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            h1 {
                color: variables.$color-white;
                font-size: 5rem;
                margin: 0 0 1rem 0;
                line-height: normal;
            }

            p {
                font-size: 1rem;
                // text-align: center;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .header-item {
        .container-carousel-details{
            .carousel-item-details{
                margin: 0 auto;
                text-align: center;
                width: 80%;

                h1 {
                    font-size: 2rem;
                }

                p {
                    // display: none;
                    max-lines: 5;
                    overflow: hidden;
                }
            }
        }
    }
}