@use '../../variables';

.btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    border: 1px solid transparent;
    color: variables.$color-white;
    background-color: variables.$color-red;

    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    transition: variables.$transition;

    .icon {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    p {
        margin: 0;
    }
}

.btn:hover {
    filter: brightness(0.8);
}

.block {
    width: 100%;
}

.btn-transparent {
    color: variables.$color-red;
    background-color: transparent;
    border: 1px solid variables.$color-red;
}